<h5>Buscador de GIFs: </h5>

<div class="input-group">
    <input 
        type="text" 
        class="form-control" 
        placeholder="Buscar GIFs..."
        (keyup.enter)="buscar()"
        #txtBuscar
    >
    <input 
        type="number" 
        class="form-control"
        placeholder="Cantidad de GIFs (opcional)"
        #txtLimite
        (keyup.enter)="buscar()"
    >
</div>