<div class="bg-dark border-right p-3" id="sidebar">
    
    <h3 class="text-light">Gifs-App</h3>

    <hr class="text-white">

    <h6 class="text-light text-center">Historial de Búsqueda</h6>

    <br>

    <div class="list-group list-reset">
        <a 
            *ngFor="let item of historial"
            (click)="buscar( item )"
            class="list-group-item list-group-item-action" 
            href="#"
        >{{ item | titlecase}}</a>
    </div>
    
</div>